*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    background: #ffc8c8;
    justify-content: space-around;
    gap: 44px;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.imglogo{
    border-radius: 120px;
    width: 40px;
    height: 40px;
}
.logo h1{
    color: rgb(56, 50, 52);
}
.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 60px;
    /* margin: 10px; */
}
.navbar a{
    text-decoration: none;
    color: rgb(49, 49, 49);
    border: none;
    font-size: 20px;
}
.navbar a:hover{
    color: #ec0d0d;   
}
