.container{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.Category02{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
}


/* category Chips */


.category-head{
  padding: 15px;
  border:  2px solid rgb(232, 114, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  width: max-content;
  cursor: pointer;
  border-radius: 10px;
  height: max-content;
}
.category-head:hover{
  color: #929292;
}
.main-div {
  width: 300px;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 0.5px solid pink;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
 .img img {
  width: 200px;
  height: 150px;
  background: #f7f7f7;
}

.icons{
  
  background: #f7f7f7;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 15px;
}




.main-div button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background: #00bd68;
}
